$mainColor: #b9052a;
$secColor: #89011c;

.dashboard-container {
    display: flex;
}

.dashboard-page {
    flex-direction: column;
    flex-grow: 1;
}

// BODY //

.stats-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.stats-box {
    width: 480px;
    height: 110px;
    background-color: #fff;
    border: 2px solid #dfdededc;
    border-radius: 14px;
    box-shadow: 0px 0px 10px 6px #dfdfdfd3;
    padding-bottom: 130px;
    margin: 50px 25px;
    transition: transform 0.3s;
  }
  
  .stats-box:hover {
    transform: sclae(1.05);
  }
  
  .stats-box p {
    margin: 10px 0 0 20px;
    font-family: Questrial;
  }
  
  .stats-desc {
    display: flex;
  }
  
  .stats-box h2 {
    color: $mainColor;
    font-size: 30px;
    margin: 20px 0 0 20px;
    font-family: Lexend-Medium;
  }
  
  .stats-desc-1 {
    display: flex;

  }

  .stats-desc-1 h1 {
    font-size: 55px;
    margin: 38px 0 0 0;
  }

  .stats-btn {
    color: #fff;
    margin: 25px 0 0 20px;
    padding: 7px 13px;
    background-color: $mainColor;
    opacity: 1;
    border: 2px solid $mainColor;
    border-radius: 10px;
    font-size: 18px;
    font-family: Lexend-Medium;
    transition: background-color 0.3s ease, opacity 0.3s ease;
  }
  
  .dish-icon {
    font-size: 100px;
    margin: 25px 20px 10px 30px;
  }

  /* CRUD OPERATION */

.crud-opt {
    margin: 0 60px;
  }

  .crud-opt h2 {
    font-family: Lexend-Medium;
  }
  
  .crud-text {
    display: flex;
  }

  .crud-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .crud-table th, .crud-table td {
    padding: 5px 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    font-family: Questrial;
  }
  
  .crud-table th {
    background-color: #f2f2f2;
  }
  
  .edit-btn, .delete-btn {
    padding: 10px 10px;
    margin-right: 5px;
  }


  .edit-btn {
    background-color: #4caf50;
    color: white;
    border: none;
    font-family: Lexend-Medium;
    cursor: pointer;
  }
  
  .delete-btn {
    background-color: #f44336;
    color: white;
    border: none;
    font-family: Lexend-Medium;
    cursor: pointer;
  }

  .add-btn {
    background-color: #0066ff;
    padding: 15px -5px;
    margin: 20px 15px;
    color: white;
    border: none;
    font-family: Lexend-Medium;
  }

  .hiplus-icon {
    font-size: 30px;
  }

  
/* ADD ITEM STYLES */

.add-item-box {
    background-color: #fff;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form-group-1 {
    position: relative;
    margin: 10px 0px 0px 0px;
}

.form-group-1 input {
    width: 30%;
    padding: 18px 20px;
    border: 2px solid #c4c3c3dc;
    border-radius: 10px;
    background-color: transparent;
    color: #474747dc;
    outline: none;
    font-size: 16px;
    z-index: 1; 
}

.form-group-1 input::placeholder {
  font-size: 15px;
  color: #000;
  font-family: Questrial;
}

.form-group-1 input:focus {
    border-color: #000;
}

  .add-btn-sec {
    padding: 10px 15px;
    margin: 20px 0;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: Questrial;
  }
  
  .add-btn-sec:hover {
    background-color: #0056b3;
  }
  