@font-face {
    font-family: Questrial;
    src: url(../fonts/Questrial-Regular.ttf);
}

.end-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.end-1 div {
    width: 60%;
    height: 1.5px;
    margin-top: 20px;
    margin-bottom: 35px;
    background: #c5c5c5;
}

.down-text h1 {
    text-align: center;
    font-size: 17px;
    text-transform: uppercase;
    font-family: Questrial;
}

.down-text p {
    text-align: center;
    font-size: 17px;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-family: Questrial;
}

.footer-container {
    display: flex;
    margin: 15px 16%;
    margin-bottom: 60px;
}

.column {
    margin: 10px 8.5%;
    text-align: left;
}

.column h4 {
    font-size: 23px;
    margin-bottom: 10px;
    color: #030303;
    align-content: flex-start;
}

.column p {
    width: 60%;
    font-size: 17px;
    align-items: flex-start;
    color: #3d3d3ddc;
    display: inline-block;
    margin-bottom: 5px;
    white-space: nowrap;
}

.column-hover p {
    transition: color 0.2s ease, opacity 0.2s ease;
}

.column-hover:hover p {
    color: #8a8a8adc;
}

.column-2 {
    align-items: flex-start;
}
