@font-face {
    font-family: Questrial;
    src: url(../fonts/Questrial-Regular.ttf);
}

@font-face {
    font-family: Lexend-Medium;
    src: url(../fonts/Lexend-Medium.ttf);
}

@font-face {
    font-family: Lexend-Bold;
    src: url(../fonts/Lexend-Bold.ttf);
}

$mainColor: #f52020dc;
$secColor: #d43737;

.landing-body {
    margin: 0;
    padding: 0;
}

.image-sec {
    position: relative;
}

.image-sec img {
    display: block;
    max-width: 100%;
    height: 550px;
}

.image-sec-2 img {
    display: block;
    max-width: 100%;
    height: 460px;
}

.image-sec h1 {
    position: absolute;
    text-align: center;
    top: 20%;
    width: 100%;
    color: #fff;
    font-size: 80px;
    font-family: 'Lexend-Medium';
}

.image-sec span {
    background: linear-gradient(349deg, rgba(162, 37, 37, 1) 11%, rgba(208, 57, 77, 1) 35%, rgba(228, 63, 88, 1) 55%, rgba(214, 60, 80, 1) 77%, rgba(172, 62, 62, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: opacity 0.3s ease;
}

.img-btn {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.img-btn a {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px 45px;
    background-color: transparent;
    opacity: 1;
    border: 2px solid $secColor;
    font-size: 18px;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

.img-btn a:hover {
    background-color: $mainColor;
}

.direct-btn {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Lexend-Medium';
}

.text-description {
    justify-content: center;
    align-content: center;
}

.text-description h1 {
    font-size: 45px;
    text-align: center;
    margin-top: 120px;
    padding: 0 20%;
    font-family: 'Questrial';
}

.text-description p {
    font-size: 23px;
    text-align: center;
    margin: 10px 20%;
    font-family: 'Questrial';
}

.desc-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.desc-text {
    text-decoration: none;
    color: $mainColor;
    text-transform: uppercase;
    font-family: 'Lexend-Medium';
}

.desc-btn a {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 120px;
    padding: 10px 45px;
    background-color: transparent;
    opacity: 1;
    border: 2px solid $secColor;
    font-size: 18px;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

.desc-btn a:hover {
    color: #fff;
    background-color: $mainColor;
}

.container-3 {
    position: relative;
    background-color: hsla(348, 98%, 27%, 1);
    background-image:
        radial-gradient(at 50% 2%, hsla(18, 93%, 70%, 1) 0px, transparent 50%),
        radial-gradient(at 80% 0%, hsla(359, 100%, 59%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 50%, hsla(15, 85%, 82%, 1) 0px, transparent 50%),
        radial-gradient(at 49% 71%, hsla(359, 100%, 76%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 100%, hsla(7, 100%, 68%, 1) 0px, transparent 50%),
        radial-gradient(at 89% 90%, hsla(359, 100%, 70%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 0%, hsla(359, 80%, 67%, 1) 0px, transparent 50%);
}

.mid-description {
    display: flex;
    justify-content: center;
    align-items: center;
}

.desc-1 {
    display: flex;
    align-items: center;
}

.text-content h1 {
    margin: 0;
    font-size: 50px;
    color: #fff;
    font-family: Lexend-Bold;
}

.text-content {
    display: flex;
    flex-direction: column;
    color: #fff;
    max-width: 550px;
    margin-left: 25px;
}

.text-content p {
    font-size: 20px;
    margin-bottom: 40px;
    font-family: Questrial;
}

.img-container {
    margin: 70px 30px 40px 15px;
}

.img-container img {
    width: 550px;
    height: 340px;
}

.text-btn-container {
    display: inline-flex;
    align-items: center;
}

.text-btn {
    display: inline-block;
    padding: 12px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 50px;
    font-size: 18px;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    font-family: Lexend-Medium;
    cursor: pointer;
}

.text-btn:hover {
    background-color: #d8d8d8;
}

.down-description {
    justify-content: center;
    align-content: center;
}

.down-description h1 {
    text-align: center;
    font-size: 30px;
    margin-top: 100px;
    font-family: Questrial;
}

.down-description p {
    font-size: 19px;
    text-align: center;
    margin: 10px 30%;
    font-family: 'Questrial';
}

.down-description h1 span {
    color: $mainColor;
}

.mid-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid-text {
    text-decoration: none;
    color: $mainColor;
    text-transform: uppercase;
    font-family: 'Lexend-Medium';
}

.mid-btn a {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 20px 50px;
    background-color: transparent;
    opacity: 1;
    border: 2px solid $secColor;
    font-size: 20px;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

.mid-btn a:hover {
    color: #fff;
    background-color: $mainColor;
}

