
@font-face {
    font-family: Questrial;
    src: url(../fonts/Questrial-Regular.ttf);
}

@font-face {
    font-family: Lexend-Medium;
    src: url(../fonts/Lexend-Medium.ttf);
}

$mainColor: #f52020dc;
$secColor: #d43737;

.navbar {
    background-color: #212530;
    color: white;
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
}

.image {
    margin-top: 5px;
    margin-left: 8%;
}

.navbar img {
    width: 60px;
    height: 60px;
}
.navbar-nav {
    display: flex;
    margin-right: 8%;
}

.navbar-list {
    list-style-type: none;
    display: flex;
    margin: 0 20px;
}

.navbar-item {
    margin: 24px 17px;
    padding: 0;
}

.navbar-item a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    font-family: 'Questrial';
}

.navbar-item a:hover {
    color: $mainColor;
}

.connect-btn {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: $mainColor;
    opacity: 1;
    border: 2px solid $secColor;
    font-size: 18px;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    font-family: 'Lexend-Medium';
}

.connect-btn:hover {
    background-color: transparent;
}

.btn {
    color: #fff;
    text-decoration: none;
}
