@font-face {
  font-family: Questrial;
  src: url(../fonts/Questrial-Regular.ttf);
}

@font-face {
  font-family: Lexend-Medium;
  src: url(../fonts/Lexend-Medium.ttf);
}

@font-face {
  font-family: Lexend-Bold;
  src: url(../fonts/Lexend-Bold.ttf);
}

$mainColor: #b9052a;
$secColor: #89011c;

.profile-text {
  display: flex;
}

.profile-user-icon {
  margin: 30px 10px 0px 0px;
  font-size: 55px;
}

.profile-text h1 {
  font-size: 40px;
  margin: 30px 15px 0px 10px;
  font-family: Lexend-Medium;
}

.profile-container {
  margin: 30px 100px 0 120px;
}

.profile-info {
  margin: 40px 0px 40px 100px;

  h1 {
    font-size: 50px;
    color: $mainColor;
    text-align: left;
    font-family: Lexend-Medium;
  }

  h2 {
    text-align: left;
    font-size: 30px;
    font-family: Lexend-Medium;
  }

  h2 span {
    font-family: Questrial;
  }
}

.profile-box-ctn {
  margin: 0 20px;
}

.profile-info-box {
  width: 100%;
  height: 220px;
  background-color: #ffffff;
  border: 2px solid #dfdededc;
  border-radius: 14px;
  box-shadow: 0px 0px 10px 6px #dfdfdfd3;
  padding-bottom: 130px;
  margin-bottom: 20px;
  transition: background-color 0.3s ease; 
}

.profile-info-box h1 {
  margin: 25px 30px 0 30px;
  font-family: Lexend-Medium;
  font-size: 20px;
}

.profile-info-box h2 {
  margin: 25px 30px 0 30px;
  font-family: Lexend-Medium;
  font-size: 20px;
}

.status-not-delivered {
  color: $mainColor
}

.status-delivered {
  color: #6EBA70;
}

.profile-line-btn {
  display: flex;
  p {
    margin: 50px 30px 0px 30px;
    color: $mainColor;
    text-decoration: underline;
    cursor: pointer;
  }
}

.profile-info-row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 20px;
}

.edit-profile {
  color: $mainColor;
  margin: 40px 0px 20px 0px;
  padding: 5px 14px;
  background-color: transparent;
  opacity: 1;
  text-align: center;
  border: 2px solid $mainColor;
  border-radius: 10px;
  font-size: 15px;
  font-family: Lexend-Medium;
  transition: background-color 0.2s ease, opacity 0.2s ease;
  cursor: pointer;
}

.edit-profile:hover {
  color: #fff;
  background-color: $mainColor;
}

.save-profile {
  color: #6EBA70;
  margin: 40px 0px 20px 0px;
  padding: 5px 14px;
  background-color: transparent;
  opacity: 1;
  text-align: center;
  border: 2px solid #6EBA70;
  border-radius: 10px;
  font-size: 15px;
  font-family: Lexend-Medium;
  transition: background-color 0.2s ease, opacity 0.2s ease;
  cursor: pointer;
}