@font-face {
  font-family: Questrial;
  src: url(../fonts/Questrial-Regular.ttf);
}

@font-face {
  font-family: Lexend-Medium;
  src: url(../fonts/Lexend-Medium.ttf);
}

$mainColor: #b9052a;
$secColor: #89011c;

.user-container {
  display: flex;
}

.user-mgt-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.user-mgt-container {
    margin: 10px 40px 0px 40px;
}

.user-mgt-text {
  display: flex;
}

.purchase-tag {
  margin: 30px 10px 0px 0px;
  font-size: 55px;
}

.user-mgt-text h1 {
  font-size: 40px;
  margin: 30px 0px 0px 10px;
  font-family: Lexend-Medium;
}

.purchase-history-ctn {
  margin: 20px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.purchase-box {
  width: 100%;
  min-height: 20%;
  background-color: #ffffff;
  border: 2px solid #dfdededc;
  border-radius: 14px;
  box-shadow: 0px 0px 10px 6px #dfdfdfd3;
  padding-bottom: 130px;
  margin: auto;
}

.purchase-box h1 {
    margin: 18px 20px 0px 20px;
    font-family: Lexend-Medium;
    font-size: 15px;
}


.purchase-box h1 span {
    font-family: Questrial;
    font-size: 15px;
}

.purchase-box h2 {
  margin: 18px 20px 0px 20px;
  font-family: Lexend-Medium;
  font-size: 15px;
}

.status-not-delivered {
  color: $mainColor
}

.status-delivered {
  color: #6EBA70;
}

.user-mgt-btn {
  margin-top: 40px;
  display: flex;

  h1 {
    margin: 0px 20px;
    font-size: 15px;
    color: #198BA3;
    text-decoration: underline;
    cursor: pointer;
  }

  h2 {
    margin: 0px 20px;
    font-size: 15px;
    color: $mainColor;
    text-decoration: underline;
    cursor: pointer;
  }
}